<%= form_with(model: business_professional) do |form| %>
  <% if business_professional.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(business_professional.errors.count, "error") %> prohibited this business_professional from being saved:</h2>

      <ul>
        <% business_professional.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :org_name %>
    <%= form.text_field :org_name %>
  </div>

  <div class="field">
    <%= form.label :first_name %>
    <%= form.text_field :first_name %>
  </div>

  <div class="field">
    <%= form.label :last_name %>
    <%= form.text_field :last_name %>
  </div>

  <div class="field">
    <%= form.label :phone_num %>
    <%= form.text_field :phone_num %>
  </div>

  <div class="field disabled">
    <%= form.label :email %>
    <%= form.text_field :email, value: @business_professional.email || session[:email], readonly: true %>
  </div>

  <% if session[:isBusinessProfessional] || session[:isAdmin] %>
    <%= form.submit "Update account"%>
  <% else %>
      <%= form.submit "Create account"%>
  <% end %>

<% end %>
