<p id="notice"><%= notice %></p>

<h1>Events Attended</h1>
<table>
   <thead> 
    <tr>
      <th>Date</th>
      <th>Name</th>
      <th>Location</th>
      <th>Time</th>
      <th>Description</th>
      <th>Event Type</th>
    </tr>
  </thead>
<% @records = BusinessAttendance.where(business_professional_id: session[:userID]) %>
<% @records.each do |record| %>
    <% @event = Event.find(record.event_id) %>
    <tr>
      <td><%= @event.date.strftime('%B %-d, %Y') %></td>
      <td><%= @event.name %></td>
      <td><%= @event.location %></td>
      <td><%= daylight_savings(@event.start_time).strftime('%l:%M %p')%> - <%= daylight_savings(@event.finish_time).strftime('%l:%M %p') %></td>
      <td><%= @event.description %></td>
      <td><%= @event.event_type %></td>  
    </tr>
<% end %>
</table>
