<p id="notice"><%= notice %></p>

<h1 class="index-title">Attended Events</h1>
<div class="container">
<%= link_to 'Back to dashboard', pages_user_dashboard_path, class: "btn btn-primary btn-sm" %>
</div>

<% @records = BusinessAttendance.where(business_professional_id: session[:userID]) %>

<div class="container py-2">
  <div class="row" data-masonry='{"percentPosition": true }'>
    
    <% @records.each do |record| %>
      <% @event = Event.find(record.event_id) %>

        <div class="col-sm-4 col-md-3 py-3">
          <div class="card shadow">

            <div class="card-body">
              <h3 class="card-title"><%= @event.name %></h3>
              <h6 class="card-subtitle mb-2 text-muted"><b style="color: black">Date:</b> <%= @event.date.strftime('%B %-d, %Y') %></h6>
              <h6 class="card-subtitle mb-2 text-muted"><b style="color: black">Location:</b> <%=  @event.location %></h6>
              <h6 class="card-subtitle mb-2 text-muted"><b style="color: black">Time:</b> <%= daylight_savings(@event.start_time).strftime('%l:%M %p')%> - <%=daylight_savings(@event.finish_time).strftime('%l:%M %p') %></h6>
              <h6 class="card-subtitle mb-2 text-muted"><b style="color: black">Event Type:</b> <%= @event.event_type %></h6>
              <p class="card-text"><%= @event.description %></p>
            </div>

          </div>
        </div>

    <% end %>
  </div>
</div>