<p id="notice"><%= notice %></p>

<h1 class="index-title">Upcoming Events</h1>
<div class="container">
<%= link_to 'Back to dashboard', pages_user_dashboard_path, class: "btn btn-primary btn-sm" %>
</div>

<div class="container py-2">
  <div class="row" data-masonry='{"percentPosition": true }'>
    
    <% @upcoming, @past = Event.order('date ASC').partition{ |e| e[:date] >= Date.current } %>

    <% @upcoming.each do |event| %>  <!-- Loop through events -->

        <% @businessattend = BusinessAttendance.find_by(business_professional_id: @business_professional.id, event_id: event.id) %>

            <div class="col-sm-4 col-md-3 py-3">
                <div class="card shadow">

                    <div class="card-body">
                      <h3 class="card-title"><%= event.name %></h3>
                      <h6 class="card-subtitle mb-2 text-muted"><b style="color: black">Date:</b> <%= event.date.strftime('%B %-d, %Y') %></h6>
                      <h6 class="card-subtitle mb-2 text-muted"><b style="color: black">Location:</b> <%= event.location %></h6>
                      <h6 class="card-subtitle mb-2 text-muted"><b style="color: black">Time:</b> <%= daylight_savings(event.start_time).strftime('%l:%M %p')%> - <%=daylight_savings(event.finish_time).strftime('%l:%M %p') %></h6>
                      <h6 class="card-subtitle mb-2 text-muted"><b style="color: black">Event Type:</b> <%= event.event_type %></h6>
                      <p class="card-text"><%= event.description %></p>


                      <% if !@businessattend %>

                        <div>
                        <% @event_business_professional = EventBusinessProfessional.find_by(business_professional_id: @business_professional.id, event_id: event.id) %>
                        <% if @event_business_professional %>
                            <b>Registered</b>
                            <%= link_to 'Unregister', unregister_event_business_professional_path(bid: @business_professional.id, eid: event.id, wid: 2), class: "btn btn-primary btn-sm" %>
                            <%= link_to 'Attended', attended_business_professional_path(bid: @business_professional.id, eid: event.id, wid: 2), class: "btn btn-primary btn-sm" %>
                        <% else %>
                            <b>Not registered</b>
                            <%= link_to 'Register', register_event_business_professional_path(bid: @business_professional.id, eid: event.id, wid: 2), class: "btn btn-primary btn-sm" %>
                        <% end %>
                        </div>

                      <% elsif %>
                      
                        <b>Attended</b>

                      <% end %>

                      <br>
                    </div>
                </div>
            </div>

    <% end %>
  </div>
</div>