<%= form_with(model: officer_pic) do |form| %>
  <% if officer_pic.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(officer_pic.errors.count, "error") %> prohibited this officer_pic from being saved:</h2>

      <ul>
        <% officer_pic.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :name %>
    <%= form.text_field :name %>
  </div>

  <div class="field">
    <%= form.label :officer_title %>
    <%= form.text_field :officer_title %>
  </div>

  <div class="field">
    <%= form.label :image %>
    <%= form.file_field :image %>
  </div>

  <div class="field">
    <%= form.label :officer_bio %><br>
    <div style="margin-left: 30px">
      <%= form.text_area(:officer_bio, cols: 50, rows: 10)%>
    </div>
  </div>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
