<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @officer_pic.name %>
</p>

<p>
  <strong>Officer title:</strong>
  <%= @officer_pic.officer_title %>
</p>

<p>
  <strong>Officer Bio:</strong>
  <%= @officer_pic.officer_bio %>
</p>

<%= image_tag(@officer_pic.image, style:'width:50%') %>

<%= link_to 'Edit', edit_officer_pic_path(@officer_pic) %> |
<%= link_to 'Back', officer_pics_path %>
