<p id="notice"><%= notice %></p>



<section class="show-box">
<div class="info">
<h2>Viewing Entry <%=@member_attendance.id%> of the Member Attendance Table</h2>
<p>
  <strong>Member:</strong>
  <%= StudentMember.find(@member_attendance.student_member_id).first_name%>
</p>

<p>
  <strong>Event:</strong>
  <%= Event.find(@member_attendance.event_id).name %>
</p>

<p>
  <strong>Point Type:</strong>
  <%= @member_attendance.point_type %>
</p>
<%= link_to 'Edit', edit_member_attendance_path(@member_attendance), class: 'btn btn-primary btn-sm' %> 
<%= link_to 'Back', member_attendances_path, class: 'btn btn-primary btn-sm' %>
</div>
</section>

