<p id="notice"><%= notice %></p>

<div style="margin-left: 30px">
  <% if session[:isAdmin] %>
    <%= link_to 'New Newsletter', new_newsletter_path %>
  <% end %>
</div>


<% @newsletters.each do |newsletter| %>
  <div class="card" style="width: 40rem; margin-left: 30px">
    <div class="card-body">
      <h3 class="card-title"><%= newsletter.title %></h3>
      <h6 class="card-subtitle mb-2 text-muted"><%= newsletter.date_posted %></h6>
      <p class="card-text" style="text-overflow: ellipsis; overflow: hidden; white-space: nowrap;"><%= newsletter.message %></p>
      
      <%= link_to 'Show', newsletter %>
      <% if session[:isAdmin] %>
        <%= link_to 'Edit', edit_newsletter_path(newsletter) %>
        <%= link_to 'Delete', newsletter, method: :delete, data: { confirm: 'Are you sure you want to delete the newsletter: ' + newsletter.title + '?' } %>
      <% end %>
    </div>
  </div>
  <br>
<% end %>