<p id="notice"><%= notice %></p>


<section class="show-box">
<div class="info" style="max-width: 600px">

  <h3 class="card-title" style="color: black;"><%= @newsletter.title %></h3>
  <h6 class="card-subtitle mb-2 text-muted"><b style="color: black">Date posted:</b> <%= daylight_savings(@newsletter.created_at).strftime('%B %-d, %Y') %></h6>
  <h6 class="card-subtitle mb-2 text-muted"><b style="color: black">Last modified at:</b> <%= daylight_savings(@newsletter.updated_at).strftime('%B %-d, %Y') %></h6>
  <p class="card-text"><%= @newsletter.message %></p>

  <% if session[:isAdmin] %>
    <%= link_to 'Edit', edit_newsletter_path(@newsletter), class: 'btn btn-primary btn-sm'%> 
  <% end %>
  <%= link_to 'Back', newsletters_path , class: 'btn btn-primary btn-sm'%>

  <br><br>
  <p> Click on the images to view the full image! </p>
  <% (0...@newsletter.images.count).each do |image| %>
    <a href = "<%= url_for(@newsletter.images[image])%>" target="_blank" rel="noopener noreferrer">
      <%= image_tag(@newsletter.images[image], style:'width: 100px; height: 100px; object-fit: cover;', class: "card-img-top")%>
    </a>
  <% end %>

</div>
</section>
