<p id="notice"><%= notice %></p>
<section class="show-box">
<div class="info">
<h1>Viewing Entry <%=@event.id%> of the Events Table</h1>
<p>
  <strong>Date:</strong>
  <%= @event.date.strftime('%B %-d, %Y') %>
</p>

<p>
  <strong>Name:</strong>
  <%= @event.name %>
</p>

<p>
  <strong>Location:</strong>
  <%= @event.location %>
</p>

<p>
  <strong>Time:</strong>
  <%= @event.start_time.strftime('%l:%M %p')%>-
  <%= @event.finish_time.strftime('%l:%M %p')%>
</p>

<p>
  <strong>Description:</strong>
  <%= @event.description %>
</p>

<p>
  <strong>Event Type:</strong>
  <%= @event.event_type %>
</p>

<p>
  <strong>Event Code:</strong>
  <%= @event.event_code %>
</p>

<%= link_to 'Edit', edit_event_path(@event) , class: 'btn btn-primary btn-sm' %> 
<%= link_to 'Back', events_path , class: 'btn btn-primary btn-sm' %>
</div>
</section>
