<%= form_with(model: event_business_professional) do |form| %>
  <% if event_business_professional.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(event_business_professional.errors.count, "error") %> prohibited this event_business_professional from being saved:</h2>

      <ul>
        <% event_business_professional.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :business_professional_id %>
    <%= form.select :business_professional_id, BusinessProfessional.order(:first_name).map { |business_professional| [business_professional.first_name, business_professional.id] }, include_blank: true, id: "id_of_the_business_professional_id_select_box" %>
  </div>

  <div class="field">
    <%= form.label :event_id %>
    <%= form.select :event_id, Event.order(:name).map { |event| [event.name, event.id] }, include_blank: true, id: "id_of_the_event_id_select_box" %>
  </div>
  
  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
