<% if session[:isMember] %>
<% @student_member = StudentMember.find_by(uid: session[:uid])  %>
<% end %>
<% if session[:isBusinessProfessional] %>
<% @business_professional = BusinessProfessional.find_by(uid: session[:uid])  %>
<% end %>



<div class="card" style="width: 30%;margin: 0 auto;float: none;margin-bottom: 10px;margin-top:5%;">
  <ul class="list-group list-group-flush">
  <li class="list-group-item"><h1 class="index-title">Event Links</h1></li>
  <% if session[:isAdmin] %>
    <li class="list-group-item"><%= link_to 'Create events', "/events" , class: 'btn btn-primary btn-lg'%></li>
    <li class="list-group-item">
      <h3 class="index-title" style="display: inline; vertical-align: middle;">Students:</h3>
      <%= link_to 'Registration', "/event_student_members" , class: 'btn btn-primary btn-lg'%>
      <%= link_to 'Attendance', "/member_attendances" , class: 'btn btn-primary btn-lg'%>
    </li>
    <li class="list-group-item">
      <h3 class="index-title" style="display: inline; vertical-align: middle;">Professionals:</h3>
      <%= link_to 'Registration', "/event_business_professionals" , class: 'btn btn-primary btn-lg'%>
      <%= link_to 'Attendance', "/business_attendances" , class: 'btn btn-primary btn-lg'%>
    </li>
  <% end %>
<% if session[:isMember] %>
<li class="list-group-item"><%= link_to 'Register myself', events_student_member_path(@student_member.id) , class: 'btn btn-primary btn-lg'%></li>
<li class="list-group-item"><%= link_to 'Events I attended', student_member_attended_events_path(@student_member.id), class: 'btn btn-primary btn-lg'%></li>
<% end %>
<% if session[:isBusinessProfessional] %>
<li class="list-group-item"><%= link_to 'Register myself', events_business_professional_path(@business_professional), class: 'btn btn-primary btn-lg'%></li>
<li class="list-group-item"><%= link_to 'Events I attended', attended_events_business_professional_path(@business_professional), class: 'btn btn-primary btn-lg'%></li>
<% end %>
</ul>
</div>