<!doctype html>
<html lang="en">
  <body>

  <div class="overlay">
    <h1 class="display-5 fw-normal text-white">American Society of Landscape Architects</h1>
    <p class="lead fw-normal text-white">Texas A&M Student Chpt.</p>
  </div>

    <div id="carousel" class="carousel slide" data-bs-ride="carousel">
      <div class="carousel-inner">
        <% @carousel_pics.each_with_index do |carousel_pic, index| %>
          <div id="carousel_item_<%= index %>" class="carousel-item <%= index == 0 ? 'active' : '' %>">
            <%= image_tag(carousel_pic.image, style:'height:400px;width:100%;') %>
          </div>
        <% end %>
      </div>
      <button class="carousel-control-prev" type="button" data-bs-target="#carousel" data-bs-slide="prev">
        <span class="carousel-control-prev-icon" aria-hidden="true"></span>
        <span class="visually-hidden">Previous</span>
      </button>
      <button class="carousel-control-next" type="button" data-bs-target="#carousel" data-bs-slide="next">
        <span class="carousel-control-next-icon" aria-hidden="true"></span>
        <span class="visually-hidden">Next</span>
      </button>
    </div>
    
    <div class="container_fluid text-center mt-5 bg-light">
      <h2 class="container-fluid">Who Are We?</h2>
      <p class = "container-fluid col-7">The general objective of this organization shall be to unite interested graduate and undergraduate Landscape Architecture students in an effort to combine interested and desires toward fulfilling educational and social needs as well as broadening the understanding of the profession and the Society.</p>
    </div>

    <div class="container_fluid text-center mt-5">
      <h2> Upcoming Events</h2>
      <div class="container text-center">
        <div class="row justify-content-around">
          <div class="col-4 card">
            <h4>Google Talk</h4>
            <h6>Location: Zachry 987</h5>
            <h6>Time: 3pm-5pm, 02/31/2022</h5>
            <p>Google shares about internship oppurtunities for landscape architects.</p>
            <p>3 Points: Informational</p>
            <a class="btn col-6 btn-primary mx-auto text-white" href="#" role="button">Register Now</a>
            
          </div>
          <div class="col-4 card">
            <h4>Amazon Talk</h4>
            <h6>Location: Zachry 987</h5>
            <h6>Time: 3pm-5pm, 02/31/2022</h5>
            <p>Amazon shares about internship oppurtunities for landscape architects.</p>
            <p>3 Points: Informational</p>
            <a class="btn col-6 btn-primary mx-auto text-white" href="#" role="button">Register Now</a>
            
          </div>

          <div class="col-4 card">
            <h4>Microsoft Talk</h4>
            <h6>Location: Zachry 987</h5>
            <h6>Time: 3pm-5pm, 02/31/2022</h5>
            <p>Microsoft shares about internship oppurtunities for landscape architects.</p>
            <p>3 Points: Informational</p>
            <a class="btn col-6 btn-primary mx-auto text-white" href="#" role="button">Register Now</a>
          </div>
        </div>
      </div>
    </div>


    <% if @newsletter%>
      <div class="container_fluid text-center mt-5 mb-5">
        <h2>Most Recent Newsletter</h2>
        <div class="card mx-auto" style="width: 40rem;">
        <div class="card-body">
          <h3 class="card-title"><%= @newsletter.title %></h3>
          <h6 class="card-subtitle mb-2 text-muted"><%= @newsletter.date_posted %></h6>
          <p class="card-text"><%= @newsletter.message %></p>
        </div>
        </div>
      </div>
    <% end %>

    <% if session[:isAdmin] %>
      <%= link_to "Edit Carousel", carousels_path, class: 'btn btn-primary mx-auto text-white' %>
    <% end %>

    
    <!-- Optional JavaScript; choose one of the two! -->

    <!-- Option 1: Bootstrap Bundle with Popper -->
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-ka7Sk0Gln4gmtz2MlQnikT1wXgYsOg+OMhuP+IlRH9sENBO0LRn5q+8nbTov4+1p" crossorigin="anonymous"></script>

    <!-- Option 2: Separate Popper and Bootstrap JS -->
    <!--
    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.10.2/dist/umd/popper.min.js" integrity="sha384-7+zCNj/IqJ95wo16oMtfsKbZ9ccEh31eOz1HGyDuCQ6wgnyJNSYdrPa03rtR1zdB" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.min.js" integrity="sha384-QJHtvGhmr9XOIpI6YVutG+2QOK9T+ZnN4kzFN1RtK3zEFEIsxhlmWl5/YESvpZ13" crossorigin="anonymous"></script>
    -->
  </body>
</html>
