<head>
  <style>
    h1 {
      text-shadow: 2px 1px #555555;
    }
    h5 {
      text-shadow: 1px 1px #555555;
    }
  </style>

</head>


<div class="overlay">
    <h1 class="display-5 fw-normal text-white">American Society of Landscape Architects</h1>
    <h5 class="lead fw-normal text-white">Texas A&M Student Chapter</p>
  </div>

    <div id="carousel" class="carousel slide" data-bs-ride="carousel">
      <div class="carousel-inner">
        <% @carousel_pics.each_with_index do |carousel_pic, index| %>
          <div id="carousel_item_<%= index %>" class="carousel-item <%= index == 0 ? 'active' : '' %>">
            <%= image_tag(carousel_pic.image, style:'height:400px;width:100%;') %>
          </div>
        <% end %>
      </div>
      <button class="carousel-control-prev" type="button" data-bs-target="#carousel" data-bs-slide="prev">
        <span class="carousel-control-prev-icon" aria-hidden="true"></span>
        <span class="visually-hidden">Previous</span>
      </button>
      <button class="carousel-control-next" type="button" data-bs-target="#carousel" data-bs-slide="next">
        <span class="carousel-control-next-icon" aria-hidden="true"></span>
        <span class="visually-hidden">Next</span>
      </button>
    </div>
    
    <div class="container_fluid text-center mt-5 bg-light">
      <h2 class="container-fluid">Who Are We?</h2>
      <p class = "container-fluid col-7">
      The student Chapter of the American Society of Landscape Architects at Texas A&M is a student organization aimed at advancing the profession of Landscape Architecture through advocacy, communication, education, professional development, and fellowship. The general objective of this organization shall be to unite interested graduate and undergraduate Landscape Architecture students in an effort to combine interests and desires toward fulfilling educational and social needs as well as broadening the understanding of the profession and the Society.
      </p>
    </div>

    <div class="container_fluid text-center mt-5">
      <h2> Upcoming Events</h2>
      <div class="container">
        <div class="row justify-content-around">
          <% @upcoming, @past = Event.order('date ASC').partition{ |e| e[:date] >= Date.current } %>
          <% @first_three_events = @upcoming.first(3) %>
          <% @first_three_events.each do |event| %>
            <% @event_info = Event.find(event.id) %>  
            <div class="col-4 card" style="width: 300px">
              <br>
              <h3 class="card-title"><%= event.name %></h3>
              <h6 class="card-subtitle mb-2 text-muted"><b style="color: black">When:</b> <%= event.date.strftime('%B %-d, %Y') %></h6>
              <h6 class="card-subtitle mb-2 text-muted"><b style="color: black">Location:</b> <%= event.location %></h6>
              <h6 class="card-subtitle mb-2 text-muted"><b style="color: black">Time:</b> <%= daylight_savings(event.start_time).strftime('%l:%M %p')%> - <%=daylight_savings(event.finish_time).strftime('%l:%M %p') %></h6>
              <h6 class="card-subtitle mb-2 text-muted"><b style="color: black">Event Type:</b> <%= event.event_type %></h6>
              <p class="card-text" style="text-overflow: ellipsis; overflow: hidden; white-space: nowrap;"><%= event.description %></p>

              <% if @is_student%>
                <a class="btn btn-primary mx-auto text-white" href="<%= events_student_member_path(@user.id) %>" role="button">Show</a>
              <% elsif session[:isBusinessProfessional] %>
                <a class="btn btn-primary mx-auto text-white" href="<%= events_business_professional_path(@user.id) %>" role="button">Show</a>
              <% else %>
                <a class="btn btn-primary mx-auto text-white" href="<%= user_google_oauth2_omniauth_authorize_path %>" role="button">Show</a>
              <% end %>
              <br>
            </div>
          <% end %> 
        </div>
      </div>
    </div>

    <% if @newsletter%>
      <div class="container_fluid mt-5 mb-5">
        <h2 style="text-align:center;">Most Recent Newsletter</h2>
          <div class="card mb-3 mx-auto" style="max-width: 540px;">
            <div class="row no-gutters">

              <% if @newsletter.images.count > 0 %>
                <div class="col-md-4">
                  <%= image_tag(@newsletter.images[0], style:'height: 100%; object-fit: cover;', class: 'card-img')%>
                </div>
              <% end %>

              <div class="col-md-8">
                <div class="card-body">
                  <h3 class="card-title"><%= @newsletter.title %></h3>
                  <h6 class="card-subtitle mb-2 text-muted"><b style="color: black">Date posted:</b> <%= daylight_savings(@newsletter.created_at).strftime('%B %-d, %Y') %></h6>
                  <h6 class="card-subtitle mb-2 text-muted"><b style="color: black">Last modified at:</b> <%= daylight_savings(@newsletter.updated_at).strftime('%B %-d, %Y') %></h6>
                  <p class="card-text" style="text-overflow: ellipsis; overflow: hidden; white-space: nowrap;"><%= @newsletter.message %></p>
                  <%= link_to 'Show', @newsletter, class: 'btn btn-primary btn-sm' %>
                </div>
              </div>
            </div>
          </div>
        </div>
    <% end %>
    
    <% if session[:isAdmin] %>
      <%= link_to "Edit Carousel", carousels_path, class: 'btn btn-primary mx-auto text-white' %>
      <br>
    <% end %>

    
    

    
    

    

    
