<section class="py-4 text-center container">
    <div class="row py-lg-4">
      <div class="col-lg-6 col-md-8 mx-auto">
        <h1>About Us</h1>
        <p class="lead text-muted">As a student-led organization we facilitate students in the field of landscape architecture by optimizing their educational experience acting as the link between academia and professional practice including but not limited to design charrettes, live software demos, professional lecturers, and firm/site visits.</p>
      </div>
    </div>
  </section>

<section class="py-4 text-center container">
    <div class="row py-lg-4">
      <div class="col-lg-6 col-md-8 mx-auto">
        <h1>Our Officers</h1>
        <p class="lead text-muted">Meet our wonderful Officers!</p>
      </div>
    </div>
  </section>


<div class = "row row-cols-1 row-cols-sm-2 row-cols-md-3 g-3 ">

    <% @officer_pics.each do |officer_pic| %>
        
        
        <div class="col text-center container">
            <div class="card shadow-sm">
                <div class="card-body">
                <div class = "py-3">
                    <%= image_tag(officer_pic.image, style:'height:200px;width:200px;') %>
                </div>
                    <h4 class="card-text"> <%= officer_pic.name %></h4>
                    <h5><%= officer_pic.officer_title %></h5>
                    <p><%= officer_pic.officer_bio %></p>
                </div>
            </div>
        </div>
    <% end %>

</div>

<% if session[:isAdmin] %>
    <%= link_to "Manage Officers", officer_pics_path, class: 'btn btn-primary mx-auto' %>
<% end %>

<section class="py-4 text-center container">
    <div class="row py-lg-4">
      <div class="col-lg-6 col-md-8 mx-auto">
        <h1>Contact Us</h1>
        <p class="lead text-muted">Email: <a href = "mailto: sasla.tamu@gmail.com">sasla.tamu@gmail.com</a></p>
      </div>
    </div>
  </section>
