<p id="notice"><%= notice %></p>

<h1>Event Student Members</h1>

<table>
  <thead>
    <tr>
      <th>Member</th>
      <th>Event</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @event_student_members.each do |event_student_member| %>
      <tr>
        <td><%= StudentMember.where(id: event_student_member.member_id ).last.first_name%></td>
        <td><%= Event.where(id: event_student_member.event_id).last.name %></td>
        <td><%= link_to 'Show', event_student_member %></td>
        <td><%= link_to 'Edit', edit_event_student_member_path(event_student_member) %></td>
        <td><%= link_to 'Destroy', event_student_member, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Event Student Member', new_event_student_member_path %>
