<%= form_with(model: student_member) do |form| %>
  <% if student_member.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(student_member.errors.count, "error") %> prohibited this account from being created:</h2>

      <ul>
        <% student_member.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :uin %>
    <%= form.text_field :uin %>
  </div>

  <div class="field">
    <%= form.label :first_name %>
    <%= form.text_field :first_name %>
  </div>

  <div class="field">
    <%= form.label :last_name %>
    <%= form.text_field :last_name %>
  </div>

  <div class="field">
    <%= form.label :class_year %>
    <%= form.text_field :class_year %>
  </div>

  <div class="field">
    <%= form.label :join_date %>
    <%= form.date_select :join_date, order: [:month, :day, :year] %>
  </div>

  <div class="field">
    <%= form.label :email %>
    <%= form.text_field :email, value: session[:email], readonly: true %>
  </div>

  <div class="field">
    <%= form.label :phone_number %>
    <%= form.text_field :phone_number %>
  </div>

  <div class="field">
    <%= form.label :expected_graduation_date %>
    <%= form.date_select :expected_graduation_date, { :discard_day => true} %>
  </div>

    <div class="field">
    <%= form.label :member_title %>
    <%= form.select :member_title, options_for_select(StudentMember.member_titles.map {|key, value| [key.humanize.capitalize, StudentMember.member_titles.key(value)]}, @student_member.member_title) %>
  </div>

  <div class="actions">
    <%= form.submit "Create account"%>
  </div>

  <!-- TODO: if admin, show extra fields such as dues, role, point totals, etc-->
<% end %>
