<p id="notice"><%= notice %></p>
    <table class="table table-bordered">
  <thead>
    <tr>
      <th>Date</th>
      <th>Name</th>
      <th>Location</th>
      <th>Time</th>
      <th>Description</th>
      <th>Event Type</th>
      <th>Status</th>
      <th>Register/Unregister</th>
      <th>Event Code</th>
    </tr>
    
  </thead>

  <tbody>
    <h1 style="color: #500000">Current Events</h1>
    <% @events.each do |event| %>  <!-- Loop through events -->
    <div class="card" style="border: none">
      <tr>
        <% @ev = Event.find(event.id) %>
        <% @attended = MemberAttendance.find_by(student_member_id: @student_member.id, event_id: event.id)%>
        <% if !@attended %>    <!-- If member has attended event, dont show -->
          <td><%= event.date.strftime('%B %-d, %Y') %></td>
          <td><%= event.name %></td>
          <td><%= event.location %></td>
          <td><%= daylight_savings(event.start_time).strftime('%l:%M %p')%> - <%=daylight_savings(event.finish_time).strftime('%l:%M %p') %></td>
          <td><%= event.description %></td>
          <td><%= event.event_type %></td>  
          <% @event_student_member = EventStudentMember.find_by(student_member_id: @student_member.id, event_id: event.id) %>
          <% if @event_student_member %> <!-- If member has signed up for event, show unregister button -->
            <td>Registered</td>
            <td><%= link_to 'Unregister', unregister_event_student_member_path(mid: @student_member.id, eid: event.id, id: @student_member.id), data: { confirm: 'Are you sure you want to unregister for the event: ' + event.name + '?', disable_with: "Please wait." }, class: "btn btn-primary", style: "width: 100%" %></td>
          <% else %>
            <td>Not registered</td>
            <td><%= link_to 'Register', register_event_student_member_path(mid: @student_member.id, eid: event.id, id: @student_member.id), class: "btn btn-primary", style: "width: 100%", data: {disable_with: "Please wait."} %></td>
          <% end %>
          <% if @event_student_member%>
            <%= form_tag(eventcode_student_member_path(id: @student_member.id), method: "get") do %>
            <%= hidden_field_tag :eid, event.id %>
            <%= hidden_field_tag :mid, @student_member.id %>
            <td><%= number_field_tag :event_code_entered %>   <%= button_tag 'Enter Code', class: "btn btn-primary", data: {disable_with: "Please wait."} %></td>
            <% end %>
          <% end %>
        <% end %>
      </tr>
      </div>
    <% end %>
  </tbody>
</table>
<%= link_to 'Back to dashboard', pages_user_dashboard_path %>
<br>