<% if false %>
<%= form_tag :search_student_members, method: :get, class: "search" do %>
  <%= text_field_tag "q", params[:q], placeholder: "Full name"%>
  <%= submit_tag "Search" %>
<% end %>
<% end %>

<p id="notice"><%= notice %></p>
<h1>Members</h1>
<div id="tabular" class="tabular-demo"></div>

<script>
  $(function() {
    tabular.start('#tabular', {
      columns: [
        { title: 'Id', name: 'id' },
        { title: 'First Name', name: 'first_name' },
        { title: 'Last Name', name: 'last_name' },
        { title: 'Title', name: 'member_title' },
        { title: 'Class Year', name: 'class_year' },
        { title: 'Email', name: 'email' },
        {title: 'Graduation Date', name:'expected_graduation_date'},
        {title: 'Program Level', name:'program_level'}
        <% if session[:isAdmin] %>
        ,{ title: 'Meeting Points', name: 'meeting_point_amount' },
        { title: 'Social Points', name: 'social_point_amount' },
        { title: 'Fundraiser Points', name: 'fundraiser_point_amount' },
        { title: 'Informational Points', name: 'informational_point_amount' }
        <% end %>
        <% if session[:isAdmin] || session[:isBusinessProfessional]%>
          ,{ title: '', name: 'show_link', sort: false }
        <% end %>
        <% if session[:isAdmin] %>
          ,{ title: '', name: 'show_link1', sort: false },
          { title: '', name: 'show_link2', sort: false }
        <% end %>
      ],
      source:      '/student_members.json'
    });
  });
</script>

<br>
<% if session[:isAdmin] %>
  <%= link_to 'Create a new member', new_student_member_path %>
<% end %>