<% if false %>
<%= form_tag :search_student_members, method: :get, class: "search" do %>
  <%= text_field_tag "q", params[:q], placeholder: "Full name"%>
  <%= submit_tag "Search" %>
<% end %>
<% end %>

<p id="notice"><%= notice %></p>
<h1>Members</h1>
<% if session[:isAdmin] %>
  <br>
    <form action="student_members" method="get" id="student_members">
      <input type="checkbox" id="group1" name="dues" value="dues">
      <label for="group1">Dues Paid</label>
      <input type="checkbox" id="group2" name="points" value="points">
      <label for="group2">Points</label>
      <input type="submit" value="Reset" onclick="return confirm('Are you sure you would like to reset the selected categories?')" }>
    </form>
    <br>
    <% file = File.open("global_variables.txt")%>
    <label>Current Required Points: <%= file_info = file.read()%></label>
    <form action="student_members" method="get" id="student_members">
      <label for="group1">Required Points</label>
      <input type="number" min="1" id="group3" name="required_points">
      <input type="submit" value="Update">
    </form>
  <br>
<% end %>
<div id="tabular" class="tabular-demo"></div>

<script>
  $(function() {
    tabular.start('#tabular', {
      columns: [
        { title: 'Id', name: 'id' },
        { title: 'First Name', name: 'first_name' },
        { title: 'Last Name', name: 'last_name' },
        { title: 'Title', name: 'member_title' },
        { title: 'Class Year', name: 'class_year' },
        { title: 'Email', name: 'email' },
        {title: 'Graduation Date', name:'expected_graduation_date'},
        {title: 'Program Level', name:'program_level'}
        <% if session[:isAdmin] %>
        ,{title: 'Dues Paid', name:'dues_paid'},
        { title: 'Meeting Points', name: 'meeting_point_amount' },
        { title: 'Social Points', name: 'social_point_amount' },
        { title: 'Fundraiser Points', name: 'fundraiser_point_amount' },
        { title: 'Informational Points', name: 'informational_point_amount' }
        <% end %>
        <% if session[:isAdmin] || session[:isBusinessProfessional]%>
          ,{ title: '', name: 'show_link', sort: false }
        <% end %>
        <% if session[:isAdmin] %>
          ,{ title: '', name: 'show_link1', sort: false },
          { title: '', name: 'show_link2', sort: false }
        <% end %>
      ],
      source:      '/student_members.json'
    });
  });
</script>

<br>