<p id="notice"><%= notice %></p>

<h1>Student Members</h1>

<table>
  <thead>
    <tr>
      <th>Uin</th>
      <th>First name</th>
      <th>Last name</th>
      <th>Class year</th>
      <th>Join date</th>
      <th>Member title</th>
      <th>Email</th>
      <th>Phone number</th>
      <th>Expected graduation date</th>
      <th>Social point amount</th>
      <th>Meeting point amount</th>
      <th>Fundraiser point amount</th>
      <th>Informational point amount</th>
      <th>Officer title</th>
      <th>Dues paid</th>
      <th>Picture</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @student_members.each do |student_member| %>
      <tr>
        <td><%= student_member.uin %></td>
        <td><%= student_member.first_name %></td>
        <td><%= student_member.last_name %></td>
        <td><%= student_member.class_year %></td>
        <td><%= student_member.join_date %></td>
        <td><%= student_member.member_title %></td>
        <td><%= student_member.email %></td>
        <td><%= student_member.phone_number %></td>
        <td><%= student_member.expected_graduation_date %></td>
        <td><%= student_member.social_point_amount %></td>
        <td><%= student_member.meeting_point_amount %></td>
        <td><%= student_member.fundraiser_point_amount %></td>
        <td><%= student_member.informational_point_amount %></td>
        <td><%= student_member.officer_title %></td>
        <td><%= student_member.dues_paid %></td>
        <td><%= student_member.picture %></td>
        <td><%= link_to 'Show', student_member %></td>
        <td><%= link_to 'Edit', edit_student_member_path(student_member) %></td>
        <td><%= link_to 'Destroy', student_member, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Student Member', new_student_member_path %>
