<p id="notice"><%= notice %></p>

<table>
  <thead>
    <tr>
      <th>Uin</th>
      <th>First name</th>
      <th>Last name</th>
      <th>Class year</th>
      <th>Email</th>
      <th>Phone number</th>
      <th>Dues paid</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>

<h1>Members</h1>

    <% @student_members.each do |student_member| %>
      <tr>
        <td><%= student_member.uin %></td>
        <td><%= student_member.first_name %></td>
        <td><%= student_member.last_name %></td>
        <td><%= student_member.class_year %></td>
        <td><%= student_member.email %></td>
        <td><%= student_member.formatted_phone %></td>
        <td><%= read_bool(student_member.dues_paid) %></td>
        <% if session[:isAdmin] %>
          <td><%= link_to 'Show', student_member %></td>
          <td><%= link_to 'Edit', edit_student_member_path(student_member) %></td>
          <td><%= link_to 'Destroy', student_member, method: :delete, data: { confirm: 'Are you sure?' } %></td>
        <% end %>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Student Member', new_student_member_path %>
